section{
  background-color: $yellow;
  h1{
    background-color: $orange;
  }
  h2{
      background-color: $pink-dark;
  }
  p{
    background-color: $purple;
    color: $white;
  }
}

footer{
  background-color: $yellow;
  p{
    background-color: $purple;
    color: $white;
  }
}